## Working environment
pip
joblib
python-dotenv
black
tqdm


#others
beautifulsoup4
yfinance
six
traveltimepy
pgeocode


## core scientific
numpy
geopandas
shapely
pandas
scipy
dask[complete]
lifelines
duckdb

## Visualisation
seaborn
matplotlib
plotly
streamlit
holoviews
lets-plot
streamlit-letsplot

## ML
scikit-learn

## twitter
twython
geopy

## vision
opencv-python

## IMDB
cinemagoer

## AWS
boto3
awswrangler
sagemaker


## flickr
flickr_api
